<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <p class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-school"></span>
               Midlands State University | Work-Related Learning Department
            </p>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/Dashboard">Home</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/Mission">Mission</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Contact">Contact Us</a></li>
        </ul>

    </div>
</nav>
