<!DOCTYPE html>
<html>
<head>
	<title>Students on WRL</title>
	<div class="container">
		<div class="row-main">
    		<% include ../partials/head %>
			<script type="text/javascript" src="/javascripts/main3.js"></script>
		</div>
	</div>
</head>

<header>
	<div class="container">
		<div class="row-main">
            <% include ../partials/header %>
	 		<div class="jumbotron">
				<h4 align="center">MSU WRL List of students on WRL.</h4>
			</div>
		</div>
	</div>
</header>
<body>
<div class="container">
	<div class="row-main">
		<div class=" jumbotron table-responsive">
			<table class="table table-bordered table-striped table-hover" id="students_table">
				<caption align="centre">List of Students.</caption>
				<tr>
					<th>Reg Number</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Department</th>
					<th>No. of Assessments</th>
					<th>Organisation</th>
					<th>City</th>
					<th>Country</th>
				</tr>
			</table>
		
		</div>
	</div>

</div>

</body>

<footer>
	<% include ../partials/footer %>
</footer>
</html>