<!DOCTYPE html>
<html>
<head>
	<title>Select</title>
     <% include ../partials/head %>

</head>
<header>
	<div class="container">
		<div class="row-main">
            <% include ../partials/header %>
			<div class="jumbotron">
				<h4 align="center"> Search for student</h4>
			</div>
		</div>
	</div>
</header>
<body>
<div class="container">
	<div class="row-main">
		<div class=" jumbotron table-responsive">

			<h6> search for student by organisation and reg number</h6>
            <input type="text" class="form-control" name="search" id="search"  placeholder="Enter Your search parameters" />

			<div>
				<button class="btn btn-lg"> search for sutudent </button>  
			</div>
			

			
				

		</div>
		
	</div>
</div> 

</body>
<footer>
	<% include ../partials/footer %>
</footer>
</html>