<!DOCTYPE html>
<html>
<head>
	<title>Select</title>
     <% include ../partials/head %>

</head>
<header>
	<div class="container">
		<div class="row-main">
            <% include ../partials/header %>
			<div class="jumbotron">
				<h4 align="center"> Select what you want to do</h4>
			</div>
		</div>
	</div>
</header>
<body>
<div class="container">
	<div class="row-main">
		<div class=" jumbotron table-responsive">

			
				<button class="btn btn-lg"> <a href="dashboard"> start routing of vehicles</a> </button>  
			

			
				<button class="btn btn-lg"> <a href="reports"> check for reports </a></button>

		</div>
		
	</div>
</div> 

</body>
<footer>
	<% include ../partials/footer %>
</footer>
</html>