<!DOCTYPE html>
<html>
<head>
	<title>Coordinators</title>
     <% include ../partials/head %>
<script type="text/javascript" src="/javascripts/main2.js"></script>
</head>
<header>
	  <% include ../partials/header %>	
	  <div class="jumbotron">
	  <h4 align="center">Department Coordinators List.</h4>		
</div>
</header>
<body>
		<div class="table-responsive">
		<h5>Department Coordinators</h5><br>
		<table class="table table-borrdered table stripped" id="lecturers_table">
			<tr>
				<th>name</th>
				<th>surname</th>
				<th>department</th>
				<th>mobile number</th>
				<th>email</th>
			</tr>			
		</table>		
	</div>
</body>
<footer>
	<% include ../partials/footer %>
</footer>
</html>