<!DOCTYPE html>
<html>
<head>
	<title>loginerr</title>
	<% include ../partials/head %>
</head>
<body>
<div class="jumbotron">	
	<p>		
		<h6 align="center"> your username and password do not match</h6>
	</p>
<p>
	<a href="/"> click here to go back. </a>
</p>
</div>
</body>
<footer>	
	<% include ../partials/footer %>
</footer>
</html>