<!DOCTYPE html>
<html>
<head>
 <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

<main>
	<div class="row">
		
<div class="well">

      <img src="/images/images.png" height="1000px" />
    
 <h2><u>Services</u></h2>
              <h4>1. Search for Trig. Stations and TSMs</h4>
              <p>You can search for geodetic marks to find out the coordinates for any geodetic marks in Zimbabwe. to access the geodetic database.</a></p>
                <h4>2. Calibration Parameters</h4>
                <p>Click on this text to view information on EDM Calibration Parameters and instrument recalibration.</p>
                <h4>3. Lodgement of New Survey Marks</h4>
                <p>Registered surveyors can submit new survey control marks or provide updates on existing marks, which shall then be reviewed by the Surveyor General's Office.</p>
              </div>

         </div>

</main>

<footer>
	<% include ../partials/footer %>
</footer>

</body>
</html>
